<%@ page pageEncoding="utf-8"%>
<link charset="utf-8" rel="stylesheet" href="${templatePath}/css/topbar.css" />
<div class="topbar topbar_fixed">
	<div class="grid-990 topbar-wrap fn-clear">
	<p class="toplink">
		<a class="mobile" href="http://bill.vpigirl.com/billing/template/default/jsp/app.jsp" target="_blank"><i class="icon-mobile"></i>手机版下载</a><a class="site_index" title="网站首页" href="<%=basePath%>" target="_self">网站首页</a>
	</p>
	<ul class="topmenu">
		<li class="topmenu-item topmenu-item-first"><a title="登录" href="" target="_self">登录</a><b class="split">-</b><a title="注册" href="${templatePath}/jsp/register.jsp" target="_self">注册</a></li>
		<li class="topmenu-item topmenu-item-dropdown">
		<a href="#" target="_self">我的记账本<i class="icon-dropdown"></i></a>
		<ul>
		<li><a href="#" target="_blank">记账</a></li>
		<li><a href="#" target="_blank">消费记录</a></li>
		<li><a href="#" target="_blank">收入记录</a></li>
		</ul>
		</li>
		<li class="topmenu-item topmenu-item-last"><a title="帮助中心" href="#" target="_blank">帮助中心</a></li>
	</ul>
	</div>
</div>
<div class="topbar_fixed_hold"></div>
