html,body{background-color:#fefefe}
.header {
}
.container{width:970px;margin:0 auto;}
.bills {
	background-color: #ecf4f6;
}
.lcontent {
	width: 665px;
	float: left;
	border-right:1px dotted #ccc;
	padding-right:6px;
}
.bill_add {width: 656px;
	float: left;margin:5px 0;padding:0;
	background-color: #ecf4f6;
	padding-left:12px;
	font-size:14px;
}
.bill_add input,.bill_add select{border:0;width:142px;margin-bottom:5px;margin-right:0;padding:5px 3px;font-size:13px;*position:relative;*top:-2px;*padding-top:8px}
.bill_add .inputcb{width:16px;}
.bill_add p{line-height:21px;height:21px;margin:0;padding:0;}
.bill_add .startnew{line-height:27px;height:27px;margin-top:5px;margin-left:5px;cursor:pointer;padding:0;background-color:#78a355;color:#ffffff;display:inline-block;width:180px;text-align:center;}
.bill_add_h{width: 665px;float: left;line-height:37px;margin:0;padding:0;}
.bill_add_h *{color:#666;}
.bill_add_h p{line-height:37px;height:37px;}
.bill_add_h textarea{height:50px;border:1px solid #ddd;box-shadow:inset 2px 2px 2px #f0f0f0;font:12px/1.5 Tahoma;overflow-x:hidden;overflow-y:auto;}
.bill_add_h .b_type,.bill_add_h .b_amount,.bill_add_h .b_io{width:100px;margin:auto 3px;}
.bill_add_h .b_caption{width:600px;margin:auto 3px;margin-top:7px;}
.bill_add_h ul{margin:0;padding:0;
	list-style-type: none;
}
.bill_add_h ul li{
	float: left;
	width: 70px;
}
.bill_add_s {line-height:37px;height:37px;margin:0;padding:0;
	float: left;width:600px;
}
.bill_add_s input{line-height:27px;height:27px;margin:2px;padding:0;width:80px;float:right;color:#ffffff;background-color:#6d8346;}
.bill_modify{border:1px solid #426ab3;}
.modify_form{display:none;}
.modify_mask{display:none;}
.modify_form_block{display:block;position:fixed;top:0;left:0;z-index:1002;width:100%;height:100%;}
.modify_mask_block{display:block;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1001;background:#ccc;background-attachment:fixed;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.bill_add_block{position: relative;width:665px;margin:auto;top:30%;}
.bill_list {
	background-color: #f2f2f2;
	width: 665px;
	float: left;
	margin:5px 0;
}
.rcontent {
	background-color:#efffff;
	width: 285px;
	float: left;
	border-right:1px dotted #ccc;
	padding-right:6px;padding-left:6px;
}
.calendar {
	width: 285px;
}
.userinfo {
	width: 285px;
}
.statistics {
	width: 285px;
}
.ui_recent_footer{text-align:right;}
.ui_recent_footer a{color:#08e;}
.lcontent_r {
	width:970px;
	background-color: #f2f2f2;
	float: left;
	border-right:1px dotted #ccc;
}
.bill_list_r {
	width:970px;
	float: left;
	margin:5px 0;
}

.sendInsert{width:600px;background-color: rgb(255, 255, 255);}
.menu_m{float:left;margin:auto 3px;position:relative;box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.15); }
.menu_s_p{cursor:pointer;}
.menu_content{position:absolute;z-index:1;}
.menu_display {border:1px solid #999;width: 150px;display:none;background-color:#fff;box-shadow:0px 2px 8px 1px rgba(0,0,0,0.35);}
.menu_display_t {font:12px/1.5 Tahoma;display:block;height:28px;line-height:28px;}
.menu_display_con {font:12px/1.5 Tahoma;display:block;height:38px;line-height:38px;}
.menu_display_close{display:block;width:12px;height:12px;line-height:12px;font-size:18px;cursor:pointer;border: 1px solid rgb(206, 206, 207); color: rgb(85, 85, 85);background-color:#ddd;right:2px;top:2px;position:absolute;box-shadow: inset 2px 2px 2px #f0f0f0;}

.menu_image{width:150px;height:130px;padding:36px;}

.menu_topic{width:300px;height:200px;padding:5px;}
.menu_display_con ul#tabnav2 {height: 27px; line-height: 27px; border-bottom-color: rgb(240, 240, 240); border-bottom-width: 2px; border-bottom-style: solid;}
.menu_display_con ul#tabnav2 a {border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(232, 232, 232) rgb(232, 232, 232) currentColor; border-radius: 4px 4px 0px 0px; width: 78px; height: 25px; text-align: center; line-height: 25px; text-decoration: none; margin-top: 2px; display: inline-block;}
.menu_display_con ul#tabnav2 a.here {background: rgb(240, 240, 240); border-radius: 4px 4px 0px 0px; cursor: pointer;}
.menu_display_con ul.tagB {padding: 10px; overflow: hidden; display: block;}
.menu_display_con ul.tagB a {line-height: 25px; margin-right: 12px; float: left; white-space: nowrap;}
.menu_display_con .tigBox_2 { margin: 6px 0px 0px 25px; width: 275px; height: 38px; color: rgb(212, 166, 57); line-height: 29px; text-indent: 10px; visibility: hidden; position: absolute; z-index: 1;}
.menu_display_con .btnText{line-height:27px;height:27px;margin:2px;padding:0;width:80px;float:right;color:#ffffff;background-color:#6d8346;}
.menu_display_con .topic_fav{background: white; padding: 4px; border: 1px solid rgb(206, 206, 207); color: rgb(85, 85, 85); line-height: 18px; vertical-align: middle; box-shadow: inset 2px 2px 2px #f0f0f0;}

.locateimg{display:none;width:14px;height:14px;line-height:14px;font-size:16px;cursor:pointer;border: 1px solid rgb(206, 206, 207); color: rgb(85, 85, 85);background-color:#ddd;right:2px;top:-23px;position:absolute1;box-shadow: inset 2px 2px 2px #f0f0f0;}
.locateimg_img{position:absolute1;max-width:300px;max-height:300px;margin:2px 12px;display:none;}

/*2014-04-21修改主页显示table为div*/
.weibo,.pm{ overflow:hidden; padding-left:8px; padding-right:8px; padding-bottom:8px; padding-top:8px;}
.wb_l{/* float:left; width:77px;*/ position:absolute;}
.wb_r{ /*float:left; width:82%*/ padding-left:70px;}
.wb_c_wp{ clear:both; width:97%;}
.pm .wb_c_wp{ margin-bottom:30px;}
.author {width:54px; height:54px;}
.user_info{ overflow:hidden;}
.user_info .p_u{ font-weight:bold; color:#000; font-size:14px;}
.user_info .p_t{ color:#F90; font-size:14px;}
.wb_c{ margin-top:8px; color:#424D52; clear:both;}
.user_info .p_t span{ vertical-align:middle;}
.user_info .p_t img{ vertical-align:middle; margin-right:8px;}
.split{background-color:#fbfbfb;}
.wordColor{color:#31a555;}
.from{ color:#333; margin-top:8px; font-size:14px; overflow:hidden; clear:both; margin-top:10px;}
.wb_line{clear:both;color:#CECFCE; height:0px; border-bottom: solid 1px #CECFCE;width:97%;margin-left:7px; /*margin-top:8px; margin-bottom:8px;*/}
.num .comment_num img{ margin-right:3px;}
.operate{position:relative;width:100%;}

/*评论模块--开始*/
.r_rp{padding-left:70px;width:80%;}
.r_top{color:#999}
.left{float:left;}
.inputtxt{width:100%;min-height:50px;margin:auto 3px;overflow:hidden;}
/*确定按钮--开始*/
.btn{text-align:right;padding:0;}
.btn_a{color:#fff;overflow:hidden;vertical-align:middle;border:1px solid #ff9b01;cursor:pointer;display:inline-block; border-radius:2px;background-color:#ffa00a}
.btn_a:havor{color:#fff;overflow:hidden;vertical-align:middle;border:1px solid #ffce82;cursor:pointer;display:inline-block; border-radius:2px;background-color:transparent}
.f14{font-size:14px;}
.btn_30px{height:26px;line-height:26px;padding:0 15px;display:inline-block;}
/*确定按钮--结束*/
.insertFun{float:left;}
.sendList{width:px;height:16px;margin-right:6px;min-width:16px;}
/*评论模块--结束*/
/*评论模块下的显示别人的评论--开始*/
.wb_r_r{padding-left:50px;}
.author_r{width:32px; height:32px;}
.user_info_r .p_u_r{ font-weight:bold; color:#000; font-size:12px;}
.user_info_r .p_t_r{ color:#F90; font-size:12px;}
.from_r{ color:#333; margin-top:8px; font-size:12px; overflow:hidden; clear:both; margin-top:10px;}
.r_rp_r{padding-left:70px;width:467px;}
.inputtxt_r{width:460px;min-height:50px;margin:auto 3px;overflow:hidden;}
/*评论模块下的显示别人的评论--结束*/
/*alertbox弹出框的--开始*/
.alertbox{position:absolute;left:0px;top:0px;border:3px solid #bbb;width:360px;padding:0;margin:0;z-index:2}
.boxtitle{background-color:#ddd;padding:7px;font-weight:bold; vertical-align:middle;}
.boxcontent{padding:17px;background-color:#fefefe;}
.btn{text-align:right;padding:0;}
.btn_a{color:#fff;overflow:hidden;vertical-align:middle;border:1px solid #ff9b01;cursor:pointer;display:inline-block; border-radius:2px;background-color:#ffa00a}
.btn_a:havor{color:#fff;overflow:hidden;vertical-align:middle;border:1px solid #ffce82;cursor:pointer;display:inline-block; border-radius:2px;background-color:transparent}
/*alertbox弹出框的--结束*/
.f14{font-size:14px;}
.btn_30px{height:26px;line-height:26px;padding:0 15px;display:inline-block;}
.boxmask{position:fixed;left:0px;top:0px;height:100%;width:100%;background-color:#eee;display:block;background-attachment:fixed;filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;z-index:1}


.joinus{float:left;border-bottom:1px solid #ccc;padding:11px 0;width:100%;}
.titles{float:left}
.titles ul li {height:37px;}
.titles ul li lable{width:70px;display:inline-block;text-align:right;margin-right:13px;}
.titles ul li input{border:0;width:177px;margin-bottom:5px;margin-right:0;padding:5px 3px;font-size:13px;*position:relative;*top:-2px;*padding-top:8px}
.contentdetail{padding:11px;width:640px;float:left;border:1px solid #ccc;}
pre{white-space: pre-wrap;white-space: -moz-pre-wrap;white-space: -pre-wrap;white-space: -o-pre-wrap;word-wrap: break-word;}
.gray{background-color:#999;border:#999;color:#eee;}
.editor{display:block;float:left;overflow:auto;border:#aaa 1px solid;}
.bold{font-weight:bold}

.topjoinus{border-bottom:1px solid #ccc;padding:11px;font-weight:700;font-size:14px;}
.numofapply,.accessnum,.persons{width:38px;float:left;text-align:center;}
.numofapply{color:#555}
.accessnum{color:#9a4444}
.persons{color:#9a9944}
.joinustitle{float:left;margin:0 3px;font-size:14px;}
.joinustitle a{color:#07c}
.deadline{width:73px;float:right;}

.btn_new{width:180px;display:block;margin:auto;text-align:center}
.btn_new a{width:150px;display:block;margin:auto;text-align:center}
.bgl{background-color:#efefef}

/*
a:link    {color:blue;}
a:visited {color:blue;}
a:hover   {color:red;}
a:active  {color:yellow;}
*/
.left{float:left}
.right{float:right}
a.my_a:link    {color:blue;}
a.my_a:visited {color:blue;}
a.my_a:hover   {color:red;}
a.my_a:active  {color:yellow;}
.bill_list a:link    {color:blue;}
.bill_list a:visited {color:blue;}
.bill_list a:hover   {color:red;}
.bill_list a:active  {color:yellow;}
